# Term Paper - Code: Models
by Ann-Christin and Sarah 15/02/2021

In [4]:
# import libraries
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import Lasso
# pd.set_option("display.max_rows", None, "display.max_columns", None)

In [5]:
path = "C:/Users/gust/Documents/ML_term_paper"  # specify your path here
os.chdir(path)
data = pd.read_csv("Data/piaac_reduced.csv")
data.shape

C:\Users\gust\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (2,3,61,64,65) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(230691, 142)

In [6]:
data.head()

,Unnamed: 0,Unnamed: 0.1,cntry,cntry_e,inpiaac,seqid,cnt_brth,ageg10lfs,age_r,gender_r,...,nfe12jr,nfe12njr,fnfaet12,fnfaet12jr,fnfaet12njr,nfehrsnjr,nfehrsjr,nfehrs,nopaidworkever,unempflag
0,0,1,USA,USA,1.0,9355,NaN,NaN,NaN,1.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0
1,1,2,USA,USA,1.0,10882,NaN,NaN,NaN,1.0,...,1.0,0.0,1.0,1.0,0.0,0.0,30.0,30.0,0.0,0.0
2,2,3,USA,USA,1.0,12329,NaN,NaN,NaN,2.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0
3,3,4,USA,USA,1.0,10711,NaN,NaN,NaN,2.0,...,1.0,0.0,1.0,1.0,0.0,NaN,NaN,8.0,0.0,0.0
4,4,5,USA,USA,1.0,10383,NaN,NaN,NaN,1.0,...,1.0,0.0,1.0,1.0,0.0,0.0,80.0,80.0,0.0,0.0

In [ ]:
# feature importance

imp = pd.DataFrame(rf.feature_importances_, columns = ['Feature importance'])
imp['Feature'] = list(X.columns)
imp.sort_values(by=['Feature importance'], ascending=False).reset_index(drop = True)

In [ ]:
# lasso
y = data[""] #define y here
X = data.iloc[:, 1:] # define X here

X = pd.DataFrame(np.ascontiguousarray(X.values), columns = X.columns)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1) 
pipe = Pipeline([('scaler', StandardScaler()),
                 ('lasso', 
                  Lasso(alpha=0.005, fit_intercept=True, normalize=False, copy_X=False, max_iter=10000))]) 
# note alpha == lambda in the lecture notes; we just take some value - it is not the optimal! 
# again if you simply follow the defaults, it is not necessary to specify the options
pipe.fit(X_train, y_train)
print('In-sample Rsq: % .4f'
     % pipe.score(X_train, y_train))
print('Out-of-sample Rsq: % .4f'
     % pipe.score(X_test, y_test))
#print(regr.coef_)

In [ ]:
# compare to OLS
import statsmodels.api as sm

y = data[""] #define y here
X = data.iloc[:, 1:] # define X here

est = sm.OLS(y, X).fit()
X = sm.add_constant(X)
est.summary()